# Ignore node_modules directory
node_modules/

# Ignore build artifacts
build/

# Ignore environment-specific files
.env

# Ignore logs and databases
*.log
*.sqlite

# Ignore Visual Studio Code settings
.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db
